body{
    margin: 0;
    padding: 0;
    font-family: "Questrial", sans-serif;
   
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.leftSideHeader{
    display: flex;
    align-items: center;
    margin: 0.2rem 4rem;
}
.logoImg{
    width: 7rem;
    height: 4rem;
    object-fit: contain;
    
}
nav{
    margin-left: -1rem;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
li{
    font-size: 0.9rem;
    color: #504a40;
    cursor: pointer;
}
li:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}

.rightSideHeader{
    display: flex;
    align-items: center;
    gap: 10px;
}
.modal{
    text-decoration: none;
    color: #504a40;
}
.modal:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}
.search{
    width: 1rem;
    height: 1rem;
    margin-right: 8px;
}
.media{
    display: none;
    
}
/* header media */
@media(max-width:400px){
    .media{
        display: flex;
        align-items: center;
        max-width: 100%;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .mediaLeft{
        display: flex;
        margin-left: 0;
        gap: 5px;
    }
    .mediaMiddle{   
        margin: 0 auto;
    }
    .marginRight{
        gap: 5px;
        cursor: pointer;
    }
    
    .logoImg{
        width: 7rem;
        height: 4rem;
        object-fit: contain;
        
    }
    nav{
        display: none;
    }
    .leftSideHeader{
        display: none;
    }
    .rightSideHeader{
        display: none;
    }
  
}

/* HERO CAROUSEL */
.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    position: relative;
}

.carousel-item img {
    width: 100%;
    vertical-align: middle;
    height: 70%;
}


.carousel-caption-first {
    position: absolute;
    bottom: 50%;
    left: 30%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 60px;
    text-align: center;
}
.carousel-caption-second{
    position: absolute;
    bottom: 50%;
    left: 30%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 60px;
    text-align: center;
}
.carousel-caption{
    display: flex;
    flex-direction: column;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

  
  .new{
    border: none;
    background-color: #ffb900;
    color: black;
    width: 80px;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    text-align: center;
  }
  .first-slide-heading{
    width: 500px;
    font-size: 40px;
    letter-spacing: 2px
  }
  .first-desc{
    display: flex;
    justify-content: flex-start;
}
.second-slide-heading{
    width: 500px;
    font-size: 40px;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-start;
}
  .preOrder{
    border: none;
    background-color: #0067b8;
    color: #fff;
    padding: 5px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
  }

  /* carousel media */
  
  @media (max-width: 400px) {
    .carousel-item {
        flex-direction: column;
    }

    .carousel-caption {
        position: static;
        background-color: white;
        color: black;
        padding: 10px;
    }

    .new {
        font-size: 16px;
    }

    .first-slide-heading, .second-slide-heading, .third-slide-heading {
        font-size: 20px;
    }
    .first-desc{
        font-weight: 500;
    }

    .preOrder {
        width: auto;
        padding: 10px;
        font-size: 14px;
    }
}